* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 20px;
}

.grid-item {
    background-color: black;
    color: wheat;
    border: 1px solid white;
    text-align: center;
    font-size: 100px;
    height: 200px;
}

.container div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.container div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.container div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 5;
}

.container div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 5;
}