/* Css Rules */

/* CSS @import Rule */

@import 'style3.css';
@import 'style2.css';


/* CSS Cascade Rule */

/* CSS Specificity Rule */

/* Selector Priority  */
/* tag , class , id , child , combinator */

div{
    height: 500px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: orangered;
}

#content{
    width: 500px;
    /* height: 300px; */
}

div:nth-child(1){
    height: 500px;
}


/* CSS Inheritance Rule */

/* .box div{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:5px solid black;
} */

/* .box .innerbox{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:5px solid black;
} */

/* .box #innercontent{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:5px solid black;
}

.box .innerbox{
    height: 200px;
    width: 300px;
}

.innerbox{
    background-color: yellow;
}

#innercontent{
    background-color: tomato;
} */


/* CSS !important Rule */

.box #innercontent{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:5px solid black;
}

.box .innerbox{
    height: 200px;
    width: 300px;
}

.innerbox{
    background-color: yellow !important;
}

#innercontent{
    background-color: tomato !important;
}