/* Css Attribute Selector */

/* 

[attribute]	[target]	Selects all elements with a target attribute
[attribute=value]	[target="_blank"]	Selects all elements with target="_blank"
[attribute~=value]	[title~="flower"]	Selects all elements with a title attribute that contains a space-separated list of words, one of which is "flower"
[attribute|=value]	[lang|="en"]	Selects all elements with a lang attribute value starting with "en"
[attribute^=value]	a[href^="https"]	Selects all <a> elements with a href attribute value starting with "https"
[attribute$=value]	a[href$=".pdf"]	Selects all <a> elements with a href attribute value ending with ".pdf"
[attribute*=value]	a[href*="w3schools"]	Selects all <a> elements with a href attribute value containing the substring 

*/

/* a[target]{
    background-color: green;
}

a[target="_self"]{
    background-color: red;
}

a[href]{
    color:white;
}

a[href="https://www.google.com"]{
    color:black;
}

input[name]{
    background-color: blue;
}

input[name="firstName"]{
    border:5px solid green;
} */

/* div:empty{
    background-color: black;
    height: 20px;
} */

/* div[class~="box"]{
    background-color: orangered;
} */

/* div[class|="box"]{
    background-color: brown;
}

div[class^="bo"]{
    text-decoration: underline;
} */

/* div[class$=" "]{
    background-color: tomato;
} */

/* div[class*="l"]{
    background-color: blueviolet;
} */

/* Css Psuedo Element Selector */

/* .heading:after{
    content: " Hello";
}

.heading:before{
    content: "Hello ";
}

p::selection{
    background-color: yellow;
    text-decoration: underline;
}

p::first-line{
    background-color: orangered;
}

p::first-letter{
    font-size: 50px;
} */