/* Screens up to 1400px */

@media(max-width: 1400px) {
    .mobile-menu i {
        display: none;
    }

    .nav-links nav ul {
        font-size: 20px;
    }

    .navbar {
        padding: 0 50px;
    }

    .container-1 {
        padding: 50px 10px;
    }

    .content-1 h2 {
        font-size: 65px;
    }

    .section-1 {
        min-width: 100vh;
    }

    .section-2 {
        padding: 0px 50px;
    }

}

@media(max-width: 1024px) {
    .mobile-menu i {
        display: none;
    }

    .nav-links nav ul {
        font-size: 18px;
    }

    .navbar {
        padding: 0 20px;
    }


    .content-1 h2 {
        font-size: 60px;
    }

    .section-2 {
        padding: 0px 10px;
    }



}


@media(max-width: 992px) {
    .mobile-menu i {
        font-size: 30px;
        display: block;
    }

    .nav-links {
        display: none;
    }

    .navbar {
        padding: 30px 80px;
    }

    .logo img {
        height: auto;
        max-width: 250px;
    }

    .container-1 {
        display: block;
        justify-items: center;
    }

    .content-1 p {
        max-width: 700px;
    }

    .img-content svg {
        margin-top: 80px;
    }

    .section-2 {
        display: block;
    }

}


@media(max-width: 769px) {
    .mobile-menu i {
        display: block;
        padding-left: 100px;
    }

    .nav-links {
        display: none;
    }

}


@media(max-width: 481px) {
    .mobile-menu i {
        display: block;
        padding-left: 200px;
    }

    .nav-links {
        display: none;
    }
}


@media(max-width: 320px) {
    .mobile-menu i {
        display: block;
        padding-left: 250px;
    }

    .nav-links {
        display: none;
    }


}