* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* navbar css */
nav img {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.nav-links {
    display: flex;
    gap: 40px;
    margin-left: 350px;
}

.nav-links a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
}

.nav-links a:hover {
    color: red;
}

.banner-sec {
    min-height: 500px;
    background-color: #fcedee;
    border-bottom-left-radius: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin: 0 auto;
}

.inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    gap: 120px;

}

.text-content {
    display: block;
    margin: 0 auto;
}

h4 {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #ff4f5a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


p {
    font-size: 16px;
    font-weight: 300;
    opacity: .8;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    text-align: left;
    max-width: 650px;
}

.learn-btn {
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 14px;
    border: solid 1px #1f1f1f;
    cursor: pointer;
    transition: .8s ease;

}

.learn-btn:hover {
    background-color: white;
    color: black;
    border: none;
}

.inner-image img {
    height: auto;
    max-width: 65%;
    vertical-align: middle;
}