* {
    box-sizing: border-box;
    margin: 0px;
}

nav img {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    gap: 40px;
    margin-left: 350px;
}

.nav-links a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
}

.nav-links a:hover {
    color: red;
}