* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* navbar css */
nav img {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 11111;
    height: 70px;

}

.nav-links {
    display: flex;
    gap: 40px;
    margin-left: 350px;
}

.nav-links a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
}

.nav-links a:hover {
    color: red;
}

/* container section */
.banner-sec {
    min-height: 500px;
    background-color: #fcedee;
    border-bottom-left-radius: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin: 0 auto;
}

.inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    gap: 120px;

}

.text-content {
    display: block;
    margin: 0 auto;
}

h4 {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #ff4f5a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


p {
    font-size: 16px;
    font-weight: 300;
    opacity: .8;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    text-align: left;
    max-width: 650px;
}

.learn-btn {
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 14px;
    border: solid 1px #1f1f1f;
    cursor: pointer;
    transition: .8s ease;

}

.learn-btn:hover {
    background-color: white;
    color: black;
    border: none;
}

.inner-image img {
    height: auto;
    max-width: 65%;
    vertical-align: middle;
}

/* service content */
.container-1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.inner-content-1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.innertext-1 .para {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ff4f5a;
    margin-bottom: 30px;
    margin-left: 200px;
    font-weight: 500;
}

.innertext-1 .heading {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-weight: 600;
    padding-left: 160px;
    padding-right: 90px;
    margin-bottom: 30px;
}

.innertext-1 .para1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f1f1f;
    margin-bottom: 40px;
    text-align: center;
    max-width: 650px;
    line-height: 26px;
    letter-spacing: .4px;
}

/* Container for the grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}


.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2) {
    border-bottom: 1px solid #e1e1e1;

}

.grid-item:nth-child(1),
.grid-item:nth-child(3) {
    border-right: 1px solid #e1e1e1;
}

/* content -1 */
.content-1 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff4f5a;
    cursor: pointer;
    transition: .8s ease;
}

.content-1:hover i {
    transform: translateY(-10px);
}

.content-1 .heading1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .8s ease;
}

.content-1:hover .heading1 {
    color: #ff4f5a;
}

.content-1 .grid-para1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    line-height: 26px;
    letter-spacing: .4px;
    text-align: center;
}

/* content -2 */
.content-2 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff4f5a;
    cursor: pointer;
    transition: .8s ease;
}

.content-2:hover i {
    transform: translateY(-10px);
}

.content-2 .heading2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .8s ease;
}

.content-2:hover .heading2 {
    color: #ff4f5a;
}

.content-2 .grid-para2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    line-height: 26px;
    letter-spacing: .4px;
    text-align: center;
}

/* content -3 */
.content-3 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff4f5a;
    cursor: pointer;
    transition: .8s ease;
}

.content-3:hover i {
    transform: translateY(-10px);
}

.content-3 .heading3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .8s ease;
}

.content-3:hover .heading3 {
    color: #ff4f5a;
}

.content-3 .grid-para3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    line-height: 26px;
    letter-spacing: .4px;
    text-align: center;
}

/* content -4 */
.content-4 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff4f5a;
    cursor: pointer;
    transition: .8s ease;
}

.content-4:hover i {
    transform: translateY(-10px);
}

.content-4 .heading4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .8s ease;
}

.content-4:hover .heading4 {
    color: #ff4f5a;
}

.content-4 .grid-para4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    line-height: 26px;
    letter-spacing: .4px;
    text-align: center;
}

/* screen content */
.app-clips {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 120px; */
}

.s-innercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.s-innercontent .s-para {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ff4f5a;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: .5px;
    padding-top: 40px;
    margin-bottom: 30px;
}

.s-innercontent .s-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #1f1f1f;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: .5px;
    margin-bottom: 30px;
}

.s-innercontent .s-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f1f1f;
    text-align: center;
    line-height: 26px;
    letter-spacing: .4px;
    margin-bottom: 40px;
    min-width: 700px;
}

/* slider */
.swiper {
    width: 80%;
    height: 90%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 280px;
    height: 510px;
    object-fit: cover;
    margin-bottom: 25px;
}

/* app section */
.conatiner-2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.innercontent-2 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.innertext2 .con2-para {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ff4f5a;
    margin-bottom: 30px;
    margin-left: 200px;
    font-weight: 500;
}

.innertext2 .con2-heading {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-weight: 600;
    padding-left: 160px;
    padding-right: 90px;
    margin-bottom: 30px;
}

.innertext2 .con2-para1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f1f1f;
    margin-bottom: 40px;
    text-align: center;
    max-width: 650px;
    line-height: 26px;
    letter-spacing: .4px;
}

/* app details */
.container-3 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.con-1,
.con-3 {
    grid-column: 1;
}

.con-2,
.con-4 {
    grid-column: 3;
}

.image {
    grid-column: 2;
    grid-row: 1 / span 2;
    text-align: center;
}

img {
    max-width: 280px;
    height: auto;
    text-align: center;
}

.con-1 i,
.con-2 i,
.con-3 i,
.con-4 i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff4f5a;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.con-1 i:hover,
.con-2 i:hover,
.con-3 i:hover,
.con-4 i:hover {
    color: #ff4f5a;
    transform: translateY(-10px);
}



.con-1 .content-heading,
.con-2 .content-heading,
.con-3 .content-heading,
.con-4 .content-heading {
    font-weight: 500;
    font-size: 24px;
}

.con-1 .content-para,
.con-2 .content-para,
.con-3 .content-para,
.con-4 .content-para {
    font-weight: 400;
    font-size: 15px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 50px;
    line-height: 26px;
    letter-spacing: .5px;
}

/* get app banner section */

.get-app-sec {
    background-image: url(./asset/banner2.jpg);
    background-position: center 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(251, 122, 130, 0.40);
}

.inner-apptext {
    width: 100%;
}

.inner-apptext .appcon-para {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 650px;
}

.inner-apptext .appcon-heading {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-left: 640px;
}

.inner-apptext .appcon-para1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1f1f1f;
    margin-bottom: 40px;
    text-align: center;
    line-height: 26px;
    letter-spacing: .4px;
    margin-left: 410px;
}

.inner-apptext .get-app-btns {
    margin-left: 420px;
}

.inner-apptext .get-app-btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 20px 50px;
    border: solid 1px #fff;
    margin-right: 15px;
    transition: .8s ease;
}