@media (max-width:1400px) {

    .navbar {
        padding: 40px 5px;
    }

    .nav-links {
        display: block;
    }

    .nav-links ul li a {
        font-size: 19px;
    }

    .nav-btn {
        display: block;
    }

    .mobile-menu {
        display: none;
        font-size: 34px;
        font-weight: 800;
    }

    .main-content {
        padding: 160px 100px 160px 100px;
    }

    .content-1 h1 {
        font-size: 40px;
    }

    .content-3 {
        padding: 0px 100px;
    }

    .section-4 {
        padding: 0px 60px;
    }

    .content-4 {
        padding: 60px 50px 0px 60px;
    }

    .inner-content4 {
        margin: 0px 0px 100px 0px;
    }

    .inner-content4 p {
        max-width: 600px;
    }

    .section-5 {
        padding: 0px 60px;
    }

    .inner-content5 p {
        max-width: 600px;
    }

    .content5-img img {
        max-width: 85%;
    }

    .content-7-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .content-7-cards .card-4 {
        margin-top: -10px;
    }

    .content-7-cards .card-3 {
        margin-top: -50px;
    }

    .content-7-cards .card-6 {
        margin-top: -10px;
    }

    .img-content-7 {
        top: 10%;
    }

    .inner-img-content-7 {
        margin-bottom: 40px;
    }

    .background-7 img {
        height: 1100px;
    }

    .overlay-7 {
        height: 1100px;
    }

    .inner-img-content-7 h1 {
        font-size: 2.4rem;
    }

    .section-8 {
        padding: 0px 100px;
        margin-top: 400px;
    }

    .content-8 {
        gap: 18rem;
    }

    .content-8-img img {
        width: 180%;
    }

}

@media (max-width:1024px) {

    .navbar {
        padding-top: 40px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .mobile-menu {
        display: block;
        font-size: 34px;
        font-weight: 800;
    }

    .img-content {
        top: 15%;
    }

    .background img {
        height: 800px;
    }

    .overlay {
        height: 800px;
    }

    .main-content {
        padding: 160px 30px 160px 30px;
    }

    .content-1 h1 {
        font-size: 30px;
    }

    .content-3 {
        padding: 0px 50px;
    }

    .content h1 {
        font-size: 40px;
    }

    .section-4 {
        padding: 0px 50px;
    }

    .content-4 {
        padding: 55px 35px 0px 35px;
    }

    .inner-content4 {
        margin: 0px 0px 80px 0px;
    }

    .inner-content4 p {
        max-width: 700px;
    }

    .content-4img img {
        height: 300px;
        width: 600px;
    }

    .section-5 {
        padding: 0px 50px;
    }

    .content-5 {
        padding: 55px 35px 0px 35px;
    }

    .inner-content5 {
        margin: 0px 0px 80px 0px;
    }

    .inner-content5 p {
        max-width: 700px;
    }

    .content5-img img {
        max-width: 90%;
    }

    .section-6 {
        padding: 0 45px;
    }

    .section-7 {
        padding: 0px 50px;
    }

    .inner-img-content-7 h1 {
        font-size: 1.9rem;
    }

    .img-content-7 {
        top: 8%;
    }

    .content-8 {
        display: block;
        text-align: center;
    }

    .content-8-img img {
        height: auto;
        width: 60%;
    }

    .content-8-content {
        margin-top: 20px;
        text-align: left;
    }

    .section-8 {
        margin-top: 680px;
    }
}

@media (max-width:768px) {

    .navbar {
        padding-top: 40px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .mobile-menu {
        display: block;
        font-size: 34px;
        font-weight: 800;
    }

    .background img {
        height: 900px;
    }

    .overlay {
        height: 900px;
    }

    .img-content {
        width: 100%;
        top: 15%;
    }

    .img-content h1 {
        font-size: 60px;
    }

    .icon {
        display: none;
    }

    .main-content {
        display: block;
    }

    .content-1 {
        position: static;
    }


    .content-1 h1 {
        font-size: 25px;
        padding: 0px 80px 0px 80px;
        text-align: center;
    }

    .content-1 p {
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        max-width: 700px;
    }

    .con-btn {
        text-align: center;
        margin-bottom: 25px;
    }

    .content {
        display: block;
    }

    .content-3 {
        padding: 0px 40px;
    }

    .content h1 {
        font-size: 35px;
        padding-right: 60px;
    }

    .content-4 {
        display: block;
    }

    .content-5 {
        display: block;
    }

    .content-5 {
        padding: 90px 40px 50px 40px;
    }

    .content5-img img {
        max-width: 95%;
    }

    .container-6 {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .section-6 {
        padding: 0 50px;
    }

    .section-7 {
        padding: 0px 0px;
    }

    .content-7-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .content-7-cards>div {
        width: 100%;
        margin: 0 auto;
    }

    .inner-img-content-7 h1 {
        font-size: 1.9rem;
    }

    .content-7-cards .card-3 {
        margin-top: -10px;
    }

    .background-7 img {
        height: 2700px;
    }

    .overlay-7 {
        height: 2700px;
    }


    .section-8 {
        margin-top: 10px;
    }

    .content-8-img img {
        height: auto;
        width: 100%;
    }
}

@media (max-width:481px) {

    .navbar {
        padding-top: 40px;
    }

    .nav-links {
        display: none;
    }


    .nav-btn {
        display: none;
    }

    .mobile-menu {
        display: block;
        font-size: 34px;
        font-weight: 800;
    }

    .section-1 {
        padding: 0px 20px;
    }

    .img-content h1 {
        font-size: 50px;
    }

    .content-1 h1 {
        font-size: 40px;
    }

    .content-1 h1 {
        font-size: 20px;
        padding: 0px 40px 0px 40px;
        text-align: center;
    }

    .content-1 p {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        max-width: 500px;
    }

    .content-3 {
        padding: 0px 30px;
    }

    .content h1 {
        font-size: 30px;
        padding-right: 40px;
    }

    .content-4 {
        padding: 40px 30px 0px 30px;
    }

    .inner-content4 {
        margin: 0px 0px 60px 0px;
    }

    .content-5 {
        padding: 40px 30px 30px 30px;
    }

    .inner-content5 {
        margin: 0px 0px 60px 0px;
    }

    .content5-img img {
        max-width: 100%;
    }

    .section-6 {
        padding: 0 10px;
    }

    .item1-btn a,
    .item2-btn a {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        padding: 10px 22px;
    }

    .section-7 {
        padding: 0px 0px;
    }

    .content-7-cards>div {
        width: 100%;
        margin: 0 auto;
    }

    .content-8-img img {
        height: auto;
        width: 120%;
    }

    .section-8 {
        padding: 0px 50px;
        margin-top: 700px;
    }

    .content-8-content h2 {
        font-size: 1.9rem;
        text-align: left;
    }
}

@media (max-width:320px) {

    .navbar {
        padding-top: 40px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }


    .mobile-menu {
        display: block;
        font-size: 34px;
        font-weight: 800;
    }

    .section-1 {
        padding: 0px 20px;
    }

    .background img {
        width: 140%;
    }

    .overlay {
        width: 140%;
    }

    .img-content {
        left: 65%;
        top: 10%;
        transform: translateX(-50%);
    }

    .img-content h1 {
        font-size: 35px;
        line-height: 1.2em;
        margin-bottom: 20px;
    }

    .img-content p {
        font-size: 22px;
        line-height: 1.4em;
        padding: 0 10px;
    }

    .inner-button {
        padding: 10px 15px 10px 15px;
    }

    .main-content {
        padding: 100px 0px 0px 100px;
    }

    .content-1 h1 {
        font-size: 20px;
        padding: 0px 10px 0px 10px;
        text-align: center;
    }

    .content-1 p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        max-width: 200px;
    }

    .block-1,
    .block-2,
    .block-3,
    .block-4,
    .block-5,
    .block-6 {
        padding: 20px 20px 20px 20px;
    }

    .content-3 {
        padding: 0px 20px;
    }

    .content h1 {
        font-size: 25px;
        padding-right: 20px;
    }

    .section-4 {
        padding: 20px 0px 0px 40px;
    }

    .content-4 {
        padding: 20px 10px 0px 10px;
    }

    .inner-content4 {
        margin: 0px 0px 30px 0px;
    }

    .section-4 {
        padding: 20px 0px 0px 40px;
    }

    .content-5 {
        padding: 20px 10px 20px 10px;
    }

    .inner-content5 {
        margin: 0px 0px 30px 0px;
    }

    .content5-img img {
        max-width: 110%;
    }

    .section-6 {
        padding: 0 50px;
    }

    .section-7 {
        padding: 0px 0px;
    }


    .background-7 img {
        height: 3700px;
        width: 150%;
    }

    .overlay-7 {
        height: 3700px;
        width: 150%;
    }

    .inner-img-content-7 h1 {
        text-align: center;
        font-size: 1.8rem;
        max-width: 100%;
    }


    .content-8-img img {
        height: auto;
        width: 150%;
    }

    .section-8 {
        padding: 0px 50px;
        margin-top: 100px;
    }

    .content-8-content h2 {
        font-size: 1.5rem;
        text-align: left;
    }
}