.headText {
  font-size: large;
  color: white;
  font-weight: 900;
  background-color: purple;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  font-size: large;
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

/* .app {
  text-align: center;
  padding: 50px;
  transition: background 0.3s ease-in-out;
}

.light {
  background: #ffffff;
  color: #333;
}

.dark {
  background: #333;
  color: #ffffff;
}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
} */